body {
  font-family: "EB Garamond", serif;
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  position: absolute;
  z-index: 3;
  left: 20%;
  border-bottom: 1px solid rgba(195, 190, 190, 0.6039215686);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.header-content {
  padding-bottom: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}
.nav ul .active {
  color: #cdaa7d;
}
.nav ul li {
  margin: 0 60px;
  cursor: pointer;
  list-style: none;
  transition: color 0.4s ease-out;
  font-size: 20px;
}
.nav ul li:hover {
  color: #bdbdbd;
  text-decoration: underline;
}
.nav ul li a {
  color: #ffffff;
}

.kosm {
  margin-right: 40px;
}

.intro {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  padding-top: 250px;
}
.intro h1 {
  text-align: center;
  position: relative;
  left: 170px;
  font-size: 72px;
  font-weight: 700;
  width: 900px;
}

.intro-setting {
  transition: 0.2s ease-in;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100vh;
  background: var(--bgc, #111);
  z-index: 5;
}
.intro-setting.active {
  width: 400px;
}
.intro-setting.active .intro-setting-body {
  opacity: 1;
}
.intro-setting .intro-setting-body {
  opacity: 0;
  padding: 40px 80px;
}
.intro-setting .intro-setting-body img {
  cursor: pointer;
}
.intro-setting .intro-setting-body p {
  margin-top: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.setting-footer {
  display: flex;
  flex-direction: column;
}
.setting-footer h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.setting-footer a {
  color: rgba(255, 255, 255, 0.7294117647);
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s ease;
}
.setting-footer a:hover {
  text-decoration: underline;
  color: #ffffff;
}

#burger {
  cursor: pointer;
}

.info-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.info-header p {
  width: 850px;
  margin-top: 20px;
  font-size: 23px;
}

.block-content {
  display: flex;
  margin-top: 80px;
}
.block-content .block-item {
  margin-right: 20px;
}
.block-content .block-item P {
  margin-top: 30px;
  font-size: 25px;
}

.cart {
  margin-top: 80px;
}

.cart-cont img {
  margin-right: 245px;
}
.cart-cont img:last-child {
  margin-right: 0;
}

.gallery {
  margin-top: 50px;
}

.gallery-header h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.gallery-list {
  display: flex;
  margin-left: 300px;
  margin-top: 20px;
}
.gallery-list a {
  color: rgba(255, 255, 255, 0.5764705882);
  margin-right: 50px;
  display: block;
  font-size: 24px;
}
.gallery-list a::after {
  content: "";
  opacity: 0;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #cdaa7d;
  transition: 0.5s ease-out;
}
.gallery-list a:hover::after {
  opacity: 1;
}

.gallery-cont {
  margin-top: 30px;
}
.gallery-cont img {
  margin-right: 20px;
}

.footer {
  margin-top: 50px;
}
.footer .footer-content {
  padding: 80px 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.613);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.613);
  display: flex;
  justify-content: space-between;
}

.fot-contacts img {
  margin-top: 20px;
}
.fot-contacts h3 {
  font-size: 20px;
  font-weight: 700;
}
.fot-contacts a {
  display: block;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6470588235);
  transition: 0.4s ease-in-out;
}
.fot-contacts a:hover {
  color: #ffffff;
}

.foot-text {
  text-align: center;
  opacity: 0.5;
  margin-top: 15px;
}

/*# sourceMappingURL=index.css.map */
