

body {
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
    background-color: #111;
    color: #fff;
   
  }
  
  .hidden {
    display: none;
  }
  
  .header {
    position: absolute;
    z-index: 3;
    left: 20%;
    border-bottom: 1px solid #c3bebe9a;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1350px;
    margin: 0 auto;
  }
  .header-content {
    padding-bottom: 25px;
  
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    ul {
      display: flex;
      .active {
        color: #cdaa7d;
      }
      li {
        margin: 0 60px;
        cursor: pointer;
        list-style: none;
        transition: color 0.4s ease-out;
        font-size: 20px;
        &:hover {
          color: #bdbdbd;
          text-decoration: underline;
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
  .kosm {
    margin-right: 40px;
  }
  
  // intro//
  
  .intro {
    margin-bottom: 35px;
    padding-top: 200px;
    h1 {
      text-align: center;
      position: relative;
      left: 170px;
      font-size: 72px;
      font-weight: 700;
      width: 900px;
    }
  }
  .intro-setting {
    transition: 0.2s ease-in;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;

    height: 100vh;
    background: var(--bgc, #111);
    z-index: 5;
    &.active {
    
        width: 400px;
      .intro-setting-body {
        opacity: 1;
      }
    }
  
    .intro-setting-body {
      opacity: 0;
      padding: 40px 80px;
      img {
        cursor: pointer;
      }
      p {
        margin-top: 50px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
  
  .setting-footer {
    display: flex;
    flex-direction: column;
    h3 {
      margin-top: 50px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
    }
    a {
      color: #ffffffba;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 400;
      transition: color 0.2s ease;
      &:hover {
        text-decoration: underline;
        color: #ffffff;
      }
    }
  }
  #burger {
    cursor: pointer;
  }

  //   map

.map-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.map-item{
    h3{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    p{
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 15px;
        transition:all .2s ease;
        &:hover{
            color: #ffffff7f;
        }
    }
}

.footer {
    margin-top: 50px;
    .footer-content {
      padding: 80px 0;
      border-top: 1px solid hsla(0, 0%, 100%, 0.613);
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.613);
      display: flex;
      justify-content: space-between;
    }
  }
  .fot-contacts {
    img {
      margin-top: 20px;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
    }
    a {
      display: block;
      margin-top: 20px;
      color: #ffffffa5;
      transition: 0.4s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .foot-text {
    text-align: center;
    opacity: 0.5;
    margin-top: 15px;
  }
  